
form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
  }
  
  div {
    margin-bottom: 15px;
  }

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  